@layer layout{
    body {
      min-height: 100dvh;
      display: grid;
      grid-template-areas:
        "header"
        "main"
        "footer";
      grid-template-rows: auto 1fr auto;

      > header {
        grid-area: header;
        padding: var(--space-2) var(--space-3);
        border-block-end: var(--border);
        background: var(--surface);
      }

      > main {
        grid-area: main;
        padding: var(--space-3);
      }

      > footer {
        grid-area: footer;
        align-self: end; 
        padding: var(--space-2) var(--space-3);
        border-block-start: var(--border);
        background: var(--surface);
      }
    } 
}